<html>
    <head>
        <title>Chat: {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined', {});
                });
                socket.on('status', function(data) {
                    {% if safe %}
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    {% else %}
                    $('#chat').html($('#chat').html() + '&lt;' + data.msg + '&gt;<br/>');
                    {% endif %}
                });
                socket.on('message', function(data) {
                    {% if safe %}
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    {% else %}
                    $('#chat').html($('#chat').html() + data.msg + '<br/>');
                    {% endif %}
                });
                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        $('#text').val('');
                        socket.emit('text', {msg: text});
                    }
                });
            });
            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
        </script>
        {% if not safe %}
        <style>
            #chat {
                height: 300px;
                width: 600px;
                font-family: monospace;
                overflow-y: scroll;
            }
        </style>
        {% endif %}
    </head>
    <body>
        <h1>Chat: {{ room }}</h1>
        {% if safe %}
        <textarea id="chat" cols="80" rows="20"></textarea>      
        {% else %}
        <div id="chat"></div>
        {% endif %}
        <br><br>
        <input id="text" size="80" placeholder="Enter your message here">
        <br><br>
        <a href="#" onclick="leave_room();">Leave this room</a>
    </body>
</html>
